@font-face {
	font-family: Inter;
	src: url(res/inter-variable.ttf);
}

@font-face {
	font-family: InterItalic;
	src: url(res/inter-variable-italic.ttf);
}
i, em, .meta { font-family: InterItalic;}

html { scroll-behavior: smooth; }

body {
	margin: 2vh 25vw;
	font-family: Inter, Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

p {
	padding-bottom: 1vh;
}

a {
	color: black;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

.meta {
	color: gray;
	font-size: small;
}

td {
	vertical-align: top;
}

@media screen and (max-width: 1000px) {
	body {
		margin: 1vh 5vw;
		font-size: 80%;
	}

	ul {
		padding-left: 5vw;
	}
}