@font-face {
	font-family: Inter;
	src: url(res/inter-variable.ttf);
}
@font-face {
	font-family: InterItalic;
	src: url(res/inter-variable-italic.ttf);
}
i, em { font-family: InterItalic;}

html { scroll-behavior: smooth; }

body {
	margin: 5vh 20vw;
	font-family: Inter, Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.meta {
	color: gray;
	font-size: small;
	font-family: InterItalic;
}


td {
	vertical-align: top;
	text-align: justify;
}

@media screen and (max-width: 1000px) {
	body { margin: 1vh 2vw; }
}